<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhongyong.globalsearchtool">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!--    快捷方式相关-->
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:name=".application.SearchApplication"
        android:allowBackup="true"
        android:persistent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlobalSearchTool">
        <receiver android:name=".provider.DeskTop"
            android:permission="android.permission.QUERY_ALL_PACKAGES">
            <intent-filter>
                <action android:name="com.zhongyong.globalsearchtool.ACTION_CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/desk_top_info" />
        </receiver>
<!--        <receiver android:name=".receiver.AppBootReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
<!--                <action android:name="android.intent.action.PACKAGE_REMOVED" />-->

<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <activity
            android:excludeFromRecents="true"
            android:name=".search.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/SearchStyle"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setting.SettingActivity" />
    </application>

</manifest>